<div style="height:400px;">
  <self-adjustable-card>
    <sa-card-title>This is a Card Title/Header</sa-card-title>
    <sa-card-content>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
      <div> This is a Card Content </div>
    </sa-card-content>
  </self-adjustable-card>
</div>